@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	font-size: 62.5%;
	text-align: center;
	padding-top: 10rem;
	background: #ebf5fc;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Raleway', sans-serif;
	// overflow: hidden;
}
