@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	position: absolute;
	z-index: -1;
	font-size: 62.5%;
	text-align: center;
	padding-top: 1.5rem;
	background: #ebf5fc;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Raleway', sans-serif;
	// overflow: hidden;

	// .body {
	// 	min-height: 100vh;
	// 	min-width: 100vw;
	// }
}
