.navbar {
	height: 10rem;
	width: 95vw;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: @bg-color;

	margin: 0 auto;
	padding: 0 4rem;

	border: 1px solid @subtle-border;
	border-radius: 0.7rem;

	box-shadow: @box-shadow;

	&:hover {
		box-shadow: @hover-shadow;
	}

	@media @tablet {
		width: 19rem;
		flex-direction: column;

		height: 80vh;

		padding: 2rem;
		margin: 0 2rem 0;
	}

	a {
		height: 3rem;
		min-width: 7.5rem;
		max-width: 7.5rem;

		font-size: 0.9rem;
		color: @txt-color;
		font-weight: bolder;
		text-decoration: none;

		background-color: @bg-color;

		padding: 1rem 1rem;

		border: 1px solid @subtle-border;
		border-radius: 0.4rem;

		box-shadow: @box-shadow;

		&:hover {
			box-shadow: @hover-shadow;
		}

		&:focus {
			box-shadow: @active-shadow;
			transform: scale(0.98);
		}

		@media @tablet {
			margin: 0.5rem auto;
			font-size: 0.7rem;
		}

		@media @lg-mobile {
			font-size: 0.5rem;
			border: 1px solid black;
		}
	}

	.bar {
		display: flex;
		flex-direction: row;
		align-items: center;

		.search-btn {
			height: 2rem;
			width: 2rem;

			border: 1px solid lightgray;
			border-top-left-radius: 0.2rem;
			border-bottom-left-radius: 0.2rem;
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;

			box-shadow: inset -3px -3px 4px rgba(166, 171, 189, 0.7), inset 8px 8px 25px rgb(255, 255, 255);
			background: rgba(211, 211, 211, 0.692);

			cursor: pointer;

			&:active {
				box-shadow: inset -3px -3px 14px rgb(255, 255, 255), inset 8px 8px 10px rgba(166, 171, 189, 0.7);
			}

			.icon {
				transform: rotateY(180deg);
				height: 1.3rem;
				width: 1.3rem;
				margin: 13% 10% 0 0;
			}
		}

		.search {
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
			border-top-right-radius: 0.2rem;
			border-bottom-right-radius: 0.2rem;
			border: @subtle-border;
			height: 1rem;
			padding: 1rem;
			box-shadow: @active-shadow;

			&:focus {
				outline: none;
			}

			@media @tablet {
				width: 10rem;
			}
		}

		.active {
			box-shadow: @active-shadow;
		}
	}
}

// @media @tablet {
// 	.closed {
// 		position: absolute;
// 		// top: -50rem;
// 		// left: 0;
// 		transform: translateY(-60rem);
// 		transition-duration: 0.5s;
// 	}

// 	.open {
// 		position: relative;
// 		top: 2rem;
// 		left: 0;
// 		transform: translateY(60rem);
// 		transition-duration: 0.5s;
// 	}
// }
