.navbar {
	height: 10rem;
	width: 80vw;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: @bg-color;

	margin: 0 auto;
	padding: 0 4rem;

	border: 1px solid @subtle-border;
	border-radius: 0.7rem;

	box-shadow: @box-shadow;

	&:hover {
		box-shadow: @hover-shadow;
		transform: scale(0.98);
	}

	a {
		text-align: center;
		height: 3rem;
		min-width: 10rem;

		font-size: 1rem;
		color: teal;
		font-weight: bolder;
		text-decoration: none;

		background-color: @bg-color;

		padding: 1rem 1.5rem;

		border: 1px solid @subtle-border;
		border-radius: 0.4rem;

		box-shadow: @box-shadow;

		&:hover {
			box-shadow: @hover-shadow;
			transform: scale(0.98);
		}
	}

	.active {
		box-shadow: inset -6px -6px 10px white, inset 0 0 25px rgba(166, 171, 189, 0.7);
		transform: scale(0.96);
	}
}
