@bg-color: #ebf5fc;
@subtle-border: #dae2e96b;
@box-shadow: -6px -6px 10px #fafbff, 3px 3px 15px rgba(166, 171, 189, 0.5);
@hover-shadow: inset -6px -6px 10px #fafbff, inset 6px 6px 20px rgba(166, 171, 189, 0.25);

// prettier-ignore
@sm-mobile: ~"(max-width: 300px)";
@md-mobile: ~'(max-width: 500px)';
@lg-mobile: ~'(max-width: 800px)';
@tablet: ~'(max-width: 1150px)';
